<section class="content">
	<div class="container">
		<div class="row">
			<div class="col s6" style="padding-top: 10%;">
				<h1>Vota Aquí</h1>
				<p>Empieza a votar por tu #JugadorRexona y participa por un viaje para dos a los estudios de ESPN.</p>
				<h5>Recuerda que tus votos cuentan solo si estás registrado.</h5>
				<div class="col s12 center-align" style="margin-top: 2em;">
				      		<a class="waves-effect waves-light btn btn-slider">Regístrate Aquí</a>
				      	</div>
			</div>
			<div class="col s6">
				<div class="col s12 result">
					
				</div>
				<div class="col s12 vote">
					
				</div>
			</div>
		</div>
	</div>
</section>
