<section class="content">
	<div class="row" class="slider-line">
		<img src="./assets/img/linea-fondo.png" alt="">
	</div>
	<div class="carousel carousel-slider center" id="carousel-home">
	    <div class="carousel-item white-text" href="#one!">
	    	<div class="row">
	    		<div class="col s12 m6 contenido-slider">
	    			<img src="./assets/img/LOGO-espn.png" alt="" class="logo-ESPN">
					<div class="col s12 m9 offset-m3 center-align">
						<h1>#JUGADORREXONA</h1>
						<p class="white-text">Regístrate, vota y quedarás participando por un viaje para dos (2) personas a los estudios de ESPN en Bristol.* </p>	

						<a class="waves-effect waves-light btn btn-slider">REGíSTRATE AQUí</a>
					</div>
	    		</div>
	    	<div class="col s12 m6" style="padding: 0;">
	    		<img src="./assets/img/HOME1.jpg" alt="" class="img-slider">
	    	</div>
	    	</div>  
	    </div>
	    <div class="carousel-item white-text" href="#two!">
	      <div class="row">
	    		<div class="col s12 m6 contenido-slider">
	    			<img src="./assets/img/LOGO-espn.png" alt="" class="logo-ESPN">
					<div class="col s12 m9 offset-m3 center-align">
						<h1>#JUGADORREXONA</h1>
						<p class="white-text">Participa por un viaje para dos (2) personas a los estudios de ESPN*, votando por tu jugador favorito esta semana. </p>	

						<a class="waves-effect waves-light btn btn-slider">REGíSTRATE AQUí</a>
					</div>
	    		</div>
	    	<div class="col s12 m6" style="padding: 0;">
	    		<img src="./assets/img/HOME2.jpg" alt="" class="img-slider">
	    	</div>
	    	</div> 
	    </div>
	  </div>	  
</section>

