<!--<nav>
	<div class="nav-wrapper container">
		<div class="row" style="margin-bottom: 0 !important">
	    		<div class="col s1" style="border:1px solid orange;height:65px;">
	    			<a routerLink="/inicio" class="brand-logo">
	    				<img src="../../assets/img/logo-rexona.svg" alt="">
	    			</a>
	    		</div>
	    		<div class="col s10" style="border:1px solid red;">
	    			<ul id="nav-mobile" class="row hide-on-med-and-down">
				      <li class="col s3"><a routerLink="/votar">Vota aquí</a></li>
				      <li class="col s3"><a routerLink="/como-jugar">Mecánica</a></li>
				      <li class="col s3"><a href="https://fbapp.brm.com.co/Unilever/weekplayer/docs/Reglamento_PROMO_AL_CONSUMIDOR_JUGADOR_REXONA_CAM.pdf" target="_blank">Legales</a></li>
				      <li class="col s3"><a routerLink="/registro" >Regístrate/Ingresa</a></li>
				    </ul>
	    		</div>
	    	</div>  	 
	</div>
</nav>-->

  <nav class="container" id="top-menu"style="margin:0px 0px;margin-left:15%;margin-right:100px;">
    <div class="nav-wrapper row">
    	<div class="col s12 m1 mobil-options" style="border:1px solid magenta;">
		      <a class="brand" style="border:1px solid red;width:53px;display:inline-block;">
		      	<img src="../../assets/img/logo-rexona.svg" style="width:100%">
		      </a>
		      <a data-target="mobile-demo" class="sidenav-trigger hide" style="color:red;font-size: 35px;">
		      		<fa name="bars"></fa>
		      </a>
		      <div style="clear:both"></div>
		</div>

	    <ul class="center hide-on-small-only main-menu" style="border:1px solid pink;">
	        <li style="width:22%;border:1px solid orange;"><a routerLink="/votar">Vota aquí</a></li>
	        <li style="width:22%;border:1px solid orange;"><a routerLink="/como-jugar">Mecánica</a></li>
	        <li style="width:22%;border:1px solid orange;"><a href="https://fbapp.brm.com.co/Unilever/weekplayer/docs/Reglamento_PROMO_AL_CONSUMIDOR_JUGADOR_REXONA_CAM.pdf" target="_blank">Legales</a></li>
	        <li style="width:22%;border:1px solid orange;"><a routerLink="/registro" >Regístrate/Ingresa</a></li>
	    </ul>
    </div>
  </nav>

 <ul class="sidenav" id="mobile-demo">
 	 <li>
    	<a routerLink="/inicio">Inicio</a>
    </li>
    <li>
    	<a routerLink="/votar">Vota aquí</a>
    </li>
    <li>
    	<a routerLink="/como-jugar">Mecánica</a>
    </li>
    <li>
    	<a routerLink="/como-jugar">Legales</a>
    </li>
    <li>
    	<a routerLink="/registro" >Regístrate/Ingresa</a>
    </li>
  </ul>
          