@import url('../../app.component.scss');

nav{
	background-color: #fff;
	color: #000;
	font-weight: bold;

	.brand-logo{

		text-align: right;
		left: 0;

		img{
			width: 30%;
    		margin-top: 5px;
		}

		@media screen and (min-width:1024px) {

			position:relative;
			text-align: left;

			img{
			width: 30%;
    		margin-top: 8px;
		}
			
		}
	}

	ul{
		text-transform: uppercase;
		font-weight: bold;
		li{
			text-align: center;

			a{
				color: #000;
			}

			&:last-child {

				a{
					color: #103073;
				}
			}
		}
	}

	.container{

		width: 100% !important;

		@media screen and (min-width:1024px) {

			width: 70% !important;
			
		}
	}

}

.sidenav{

	li{
		border-bottom: solid 1px #ddd;
	}

	li:first-child{
		background: #103073;
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
	}
}





