<nav>
    <div class="nav-wrapper container">
    	<div class="row">
    		<div class="col s2">
    			<a href="#" class="brand-logo"><img src="./assets/img/logo-rexona.svg" alt=""></a>
    		</div>
    		<div class="col s10 hide-on-med-and-up">
    			<a data-target="mobile-demo" class="sidenav-trigger" style="color: black !important; float: right;"><i class="material-icons"><fa name="bars"></fa></i></a>
    		</div>

      <div class="col s10">
      	<ul class="row hide-on-med-and-down">
        <li class="col s3"><a routerLink="/votar">Vota aquí</a></li>
		<li class="col s3"><a routerLink="/como-jugar">Mecánica</a></li>
		<li class="col s3"><a href="https://fbapp.brm.com.co/Unilever/weekplayer/docs/Reglamento_PROMO_AL_CONSUMIDOR_JUGADOR_REXONA_CAM.pdf" target="_blank">Legales</a></li>
		<li class="col s3"><a routerLink="/registro" >Regístrate/Ingresa</a></li>
      </ul>
      </div>
      </div>
    </div>
</nav>

  <ul class="sidenav" id="mobile-demo">
  		<li>#jugadorrexona</li>
  		<li><a routerLink="/inicio">Inicio</a></li>
    	<li><a routerLink="/votar">Vota aquí</a></li>
		<li><a routerLink="/como-jugar">Mecánica</a></li>
		<li><a href="https://fbapp.brm.com.co/Unilever/weekplayer/docs/Reglamento_PROMO_AL_CONSUMIDOR_JUGADOR_REXONA_CAM.pdf" target="_blank">Legales</a></li>
		<li><a routerLink="/registro" >Regístrate/Ingresa</a></li>
  </ul>
          