<nav>
	<div class="nav-wrapper container">
		<div class="row" style="margin-bottom: 0 !important">
	    		<div class="col s2">
	    			<a routerLink="/inicio" class="brand-logo"><img src="../../assets/img/logo-rexona.svg" alt=""></a>
	    		</div>
	    		<div class="col s10">
	    			<ul id="nav-mobile" class="row hide-on-med-and-down">
				      <li class="col s3"><a routerLink="/votar">Vota aquí</a></li>
				      <li class="col s3"><a routerLink="/como-jugar">Mecánica</a></li>
				      <li class="col s3"><a routerLink="/como-jugar">Legales</a></li>
				      <li class="col s3"><a routerLink="/registro" >Regístrate/Ingresa</a></li>
				    </ul>
	    		</div>
	    	</div>  	 
	</div>
</nav>
