@import url('../app.component.scss');

.content{
	background-image: url("../../assets/img/fondo-mobile.jpg");
	backgorund-size: cover;
	font-family: 'Poppins';
	padding-top: 5em;
	padding-bottom: 2em;

	@media screen and (min-width: 1024px){
		background-image: url("../../assets/img/fondo-internas.jpg");
	}

	h1{
	font-weight: bold;
	margin: 0;
	font-size: 3.5em;
	display: inline-table;
	text-transform: uppercase;

		&:before {
			content: "";
			width: 30%;
			border-bottom: 0.1em solid #f00;
			display: table-caption;
			vertical-align: top;
		}
	}

	p{
		letter-spacing: 0.4em;
		font-size: 1.1em;
    	font-weight: 200;
    	font-size: 0.9em;
	}
	.steps{

		width:80%;
		margin: auto 10%;
		float: left;
		border-bottom: solid 6px red;
		min-height: 170px;
		position: relative;

		p{
			font-size: 0.8em;
		}

		img{
			position: absolute;
    		right: 0;
    		top: 10px;
    		width: 15%;

    		@media screen and (min-width:1024px){
				
				width: 20%;

    		}
		}

		@media screen and (min-width:1024px) {
			
			width:18%;
			margin: auto 3.5%;
		}
	}

	.link-legal{

		padding-top:0.5em;
		text-align: center;

		@media screen and (min-width:1024px) {
			padding-top:2em;
		}
	}
}

.carousel.carousel-slider {
	min-height: 250px !important;
}

.carousel.carousel-slider .carousel-item h2{
	font-size: 3em;
    font-weight: bold;
    line-height: 1em;
}

a.white-line{
	color: #fff;
	text-decoration: underline;
	letter-spacing: 0.4em;
		font-size: 1.1em;
    	font-weight: 200;
    	font-size: 0.9em;

	&:hover{
		text-decoration: none;
	}

	@media screen and (min-width:1024px) {
		
	}
}