@import url('../app.component.scss');

.content{
	background-image: url("../../assets/img/fondo-internas.jpg");
	backgorund-size: cover;
	font-family: 'Poppins';
	padding-top: 5em;
	padding-bottom: 2em;

	h1{
	font-weight: bold;
	margin: 0;
	font-size: 3.5em;
	display: inline-table;
	text-transform: uppercase;

		&:before {
			content: "";
			width: 30%;
			border-bottom: 0.1em solid #f00;
			display: table-caption;
			vertical-align: top;
		}
	}

	p{
		letter-spacing: 0.4em;
		font-size: 1.1em;
    	font-weight: 200;
    	font-size: 0.9em;
	}

	.steps{

		width:18%;
		margin: auto 3.5%;
		float: left;
		border-bottom: solid 6px red;
		min-height: 170px;
		position: relative;

		p{
			font-size: 0.8em;
		}

		img{
			position: absolute;
    		right: 0;
    		top: 10px;
		}
	}
}

a.white-line{
	color: #fff;
	text-decoration: underline;
	letter-spacing: 0.4em;
		font-size: 1.1em;
    	font-weight: 200;
    	font-size: 0.9em;

	&:hover{
		text-decoration: none;
	}
}