<section class="content">
	<div class="container ">
		<h1 >Regístrate</h1>
		<p >
			Regístrate aquí y empieza a votar en Twitter para participar por un viaje doble a los estudios de ESPN.*
		</p>
		<div  class="row">
			<div *ngIf="!loggedTwitterUser" class="col s12 center-align" style="margin: 2em auto;">
				<a class="waves-effect waves-light btn btn-twitter" (click)="twitterPopUpTs()"><i class="material-icons left"><fa name="twitter"></fa></i>Accede con Twitter</a>
			</div>
			<div class="container">
				<div class="row">
					
				    <form name="form-register"  #myForm="ngForm" *ngIf="loggedTwitterUser" class="col s12">
				      <div class="row">
				        <div class="input-field col s12 m6">
				        	<label>Nombres</label>
				          <input name="first_name" [(ngModel)]="userDataModel.names" required placeholder="Nombres" id="first_name" type="text" class="validate" >
				          
				        </div>
				        <div class="input-field col s12 m6">
				        	<label>Apellidos</label>
				          <input name="lastNames" [(ngModel)]="userDataModel.lastNames" required id="last_name" placeholder="Apellidos" type="text" class="validate">
				          
				        </div>
				      </div>
				      <div class="row">

				        <div class="input-field col s12 m6 arrow-custom">
				        	<label>País</label>
						    <select  name="country" [(ngModel)]="userDataModel.country" required id="form-country"  class="browser-default">
										<option value="">Seleccione..</option>
									<option value="El Salvador">El Salvador</option>
						    	<option value="Honduras">Honduras</option>
						    	<option value="Nicaragua">Nicaragua</option>
									<option value="Costa Rica">Costa Rica</option>
									<option value="Panamá">Panamá</option>

						    </select>
						  </div>
				        <div class="input-field col s12 m6">
				        	<label>E-Mail</label>
				          <input name="email" [(ngModel)]="userDataModel.email" required id="form-mail" placeholder="E-mail" type="text" class="validate"> 
				        </div>
				      </div>
				      <div class="row">

				        <div class="input-field col s12 m6">
				        	<label>Teléfono</label>
				          <input name="phone" maxlength="12" [(ngModel)]="userDataModel.phone" required placeholder="Teléfono" id="form-phone" type="tel" class="validate">

				       

				          
				        </div>
				        <div class="input-field col s12 m6 date-costume">
				        	<label>Fecha de Nacimiento</label>
				          <input readonly name="birthdate" [(ngModel)]="userDataModel.birthdate" required id="form-birthdate" type="text" class="datepicker" placeholder="Fecha de Nacimiento">
				          
				        </div>
				      </div>
				      <div class="row">
				        <div class="input-field col s12 m6 arrow-custom">
				        	<label>Visa Americana Vigente</label>
				          <select required name="visa" [(ngModel)]="userDataModel.visa" id="form-visa" class="browser-default">
						      <option value="" disabled selected>Seleccione...</option>
						      <option value="Sí">Sí</option>
						      <option value="No">No</option>
						    </select>
				        </div>
				        <div class="input-field col s12 m6">
				        	<label>Usuario Twitter</label>
				          <input name="twitterUserName" [(ngModel)]="userDataModel.twitterUser" required id="form-twitter-user" placeholder="{{twitterUser}}" type="text" class="validate">
				          
				        </div>
				      </div>
				      <div class="row">
				      	<div class="input-field col s12">
				      		<p>
						      <label>
						        <input name="tyc" [(ngModel)]="tyc" required type="checkbox" />
						        <span>Acepto los términos y condiciones establecidos en los avisos legales: Politica de Privacidad y Politica de Tratamiento de datos.</span>
						      </label>
						    </p>				      		
				      	</div>
				      	<div class="col s12 center-align" style="margin-top: 2em;">
									<!-- <a   class="waves-effect waves-light btn btn-slider" (click)="postForm()">Enviar</a> -->
									<button [disabled]="!myForm.valid" (click)="postForm()" class="waves-effect waves-light btn btn-slider">Enviar</button>
				      	</div>
				      </div>
				    </form>
				 </div>
			</div>
		</div>
	</div>
</section>
